.content {
  display: flex;
}

.chat_list {
  width: 30%;
  border: #8e8e8e solid 1px;
}

.chat_list form {
  height: 450px;
}

.chat {
  background-color: white;
  border: none;
  width: 100%;
  display: flex;
}

.under_line {
  background-color: #8e8e8e;
  height: 1px;
  width: 60%;
  margin: 0 auto 0 auto;
}

.chat_area {
  width: 100%;
}

.close_chat {
  background-color: white;
  border: none;
}

.chat_name {
  display: flex;
  border: #8e8e8e solid 1px;
}

.chat_name p {
  font-size: 20px;
}

.message_area {
  height: 700px;
  overflow-y: scroll;
}

.send {
  background-color: white;
}

.receive {
  background-color: #94c0cf;
}

.message_text {
}

.message_at {
  font-size: 9px;
}

.input_area {
  width: 90%;
  margin: 0 auto 0 auto;
  border: #8e8e8e soli 1px;
}

.input_message {
  border: none;
}

.send_message {
  background-color: white;
  border: #8e8e8e solid 1px;
  color: #3a7795;
}
