.content {
  display: flex;
}

.chat_list {
  width: 30%;
  height: 100vh;
  border-right: #dadada solid 1px;
}

.title {
  height: 5vh;
  width: 100%;
  font-size: 20px;
  border-bottom: 1px solid #dadada;
  padding: 10px;
}

.chat_list form {
  width: 100%;
}

.chat {
  background-color: white;
  border: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.noneId {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.chat .name {
  margin-left: 5px;
  margin-bottom: 0;
  font-size: 20px;
}

.chat .last_message {
  margin: 5px auto 5px 5px;
  width: 80%;
  text-align: left;
  color: gray;
}

.chat .last_message_date {
  margin: 0 auto 0 5px;
}

.chat_area {
  width: 100%;
  height: 100vh;
}

.chat_name {
  display: flex;
  border-bottom: #dadada solid 1px;
  height: 5vh;
  align-items: center;
}

.chat_name form {
  margin: 0 10px 0 auto;
}

.close_chat {
  background-color: white;
  border: none;
  color: #3a7795;
}

.chat_name p {
  font-size: 20px;
  margin: 0 0 0 10px;
}

.message_area {
  height: 87vh;
  padding: 0 20px;
  overflow-y: scroll;
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
}

/*Google Chrome、Safariへの対応*/
.message_area::-webkit-scrollbar {
  display: none;
}

.send,
.receive {
  display: flex;
  margin-top: 8px;
}

.message_text {
  width: fit-content;
  max-width: 450px;
  padding: 10px;
}

.send .message_text {
  border: #cdcdcd solid 1px;
  background-color: white;
}
.send .message_at {
  margin: auto 3px 1px auto;
}

.receive .message_text {
  background-color: #94c0cf;
}
.receive .message_at {
  margin: auto auto 1px 3px;
}

.message_at {
  width: auto;
  font-size: 9px;
}

.message_date {
  margin: 20px auto;
  text-align: center;
}

.input_area {
  width: 90%;
  height: 5vh;
  margin: 10px auto 10px auto;
}
